/*

Palette

Dark Blue: #333d58 -> #131a34
Gold: #d6b683
Orange: #c75646
White: #ffffff

*/


* {
  box-sizing: border-box;
  overflow: clip
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #c75646;
  text-decoration: none;
  font-weight: bold;
}

body {
  margin: 0;
  height:100%;
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  line-height: 2;
}

/*Sidebar holds all of the navigation*/
.sidebar {
  align-items: center;
  color: white;
  float: left;
  width: 17vw;
  height: 100vh;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, #333d58, #131a34);
  border-right: 5px solid #c75646;
  margin: auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.sidebarcontainer {
  display: flex;
  margin: auto;
  align-items: center;
}
.hbar{
  justify-content: space-between;
  padding: 1vw;
  display: flex;
  align-items: center;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  overflow: scroll;
  background-image: linear-gradient(to bottom, #333d58, #131a34);
  border-bottom: 5px solid #c75646;
}
.profile {
    width: 7vw;
    height: 7vw;
    padding: 10px;
    border-radius: 100px;
    display: flex;
    background-color: transparent;
    background-size: cover;
    background-image: url(https://imgur.com/rC0reDa.png);
    margin: auto;
    user-select: none;
}
.miniprofile {
  width: 100%;
  display: flex;
    margin-left: 1vw;
    margin-top: 2vh;  
    padding-bottom: 2vw;
    border-bottom: solid black .01vw;
}
.words{
    background-color: transparent;
    color: black;
    display: inline-block;
    margin: auto;
    width: 70vw;
    margin-left: 2vw;
}
.minititle{
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  color: white;
  padding: 10px;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-image: linear-gradient(to right, rgba(255, 255, 255, 0),  rgba(0, 0, 0, 0.511),  rgba(255, 255, 255, 0));*/
  background-color: rgba(0, 0, 0, .4);
  }

.miniTwin{
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
}
.minisub{
  font-size: 2vw;
}
.hprofile {
  width: 3vw;
  height: 3vw;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  background-color: transparent;
  background-size: cover;
  background-image: url('https://imgur.com/rC0reDa.png');
  margin: auto;
  float: left;
}
/*Holds the page's informations*/
.container {
  float: right;
  width: 83vw;
  height: 100vh;
  padding: 10px;
  background-color: transparent;
}
/*Actual page content*/
.content {
  float: left;
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: transparent;
}
.logo {
  width: 12vw;
  height: 12vw;
  padding: 10px;
  display: flex;
  justify-content: center; /* center horizontally */
  background-color: transparent;
  filter:drop-shadow(1px 1px 2px rgba(0, 0, 0, 1));
  margin: auto;
}
.hlogo {
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center; /* center horizontally */
  background-color: transparent;
  padding: 1vw;
  float: left;
}
.bumper {
  width: 1vw;
  height: 1vw;
  padding: 10px;
  display: flex;
  background-color: transparent;
  margin: auto;
}

.bottombumper {
  width: 100%;
  height: 10vh;
  padding: 10px;
  display: flex;
  background-color: transparent;
  margin: auto;
}
.name {
  width: 10vw;
  font-size: 1vw;
  padding: 10px;
  background-color: transparent;
  margin: auto;
  text-align: center;
  font-weight: 500;
  color: white;
}

.line {
  width: 70%;
  height: .5px;
  background-color: white;
  display: flex;
  margin: auto;
}

.nav {
  width: 10vw;
  height: 1vw;
  padding: 10px;
  display: flex;
  background-color: transparent;
  margin: auto;
  
}

.navbutton {
  width: 10vw;
  padding: 1vh;
  background-color: transparent;
  margin: auto;
  text-align: center;
}

.hnavbutton {
  padding: 1vh;
  background-color: transparent;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn{
  font-size: .7vw;
  background-color: transparent;
  color: white;
  text-align: center;
  border: 0px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.hbtn{
  font-size: 1.5vh;
  background-color: transparent;
  color: white;
  text-align: center;
  border: 0px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.btnline {
  width: 0%;
  height: 1px;
  position: center;
  opacity: 0.6;
  transform-origin: center;
  margin: auto;
}

.btn:hover + .btnline {
  animation-name: example;
  animation-duration: .5s;
  opacity: 1;
  animation-fill-mode: forwards; 
}

.hbtnline {
  width: 0%;
  height: 1px;
  position: center;
  opacity: 0.6;
  transform-origin: center;
  margin: auto;
}

.hbtn:hover + .btnline {
  animation-name: example;
  animation-duration: .5s;
  opacity: 1;
  animation-fill-mode: forwards; 
}
@keyframes example {
  0%   {background-color: #c75646; width: 0%;}
  100% {background-color: white; width: 50%;}
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* Elements for  UI/UX Section */
.uiuxContainer{
  background-color: transparent;
  overflow: hidden;
  border-bottom: #d7d7d7 solid .01vw;
  padding: 15px;
}
.galleryContainer{
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: transparent;
    /* height: 20vw; */
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
  
.descriptionContainer{
  background-color: transparent;
  width: auto;
}
.imagesContainer{
  display: inline-flex;
  overflow-x: scroll;
  flex-direction: row;
}
.galleryImages{
  padding: .5vw;
  display: flex;
  height: 20vw;
}


/* Slideshow */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .3));
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    user-select: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

/* Next & previous buttons */
.prev, .next {
  height: 100%;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
  width: 40%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.homeRow {
  display: inline-block;
}

.badge{
  background-color: white;
  border: 1px solid #eee;
  border-radius: 100px;
  width: 10vw;
  height: 10vw;
      text-align: center;
    align-content: center;
}

.badge:hover{
  border: 1px solid #00ff26;
}

.leaves{
  display: flex;
  flex-direction: column;
}

.leafThumbnail{
  width: 10vw;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .3));
  cursor: pointer;
}

.leafThumbnail:hover{
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .5));
}

.leafContainer{
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    padding: 1vw;
    margin: 2vw;
    background-color: white;
    border: 1px solid #00000012;
    transition: 0.3s;
}

.leafDetails{
  display: flex;
  flex-direction: column;
  margin: 1vw 1vw 1vw 3vw;
  padding: 1vw;
  user-select: none;
}

@keyframes entrance {
  from {top: 200px;}
  to {top: 0px;}
}

.leafContainer:hover{
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .3));
  color: #c75646;
}

.leafInfo{
  width: 100%;
  transition: 0.6s ease;
}

.leafTitle{
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

table, th, td {
  border-bottom: 1px solid rgba(211, 211, 211, 0);
  border-collapse: collapse;
  font-weight: bold;
  text-align: center;
}

.contactContainer{
  padding: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm{
  display: flex;
  justify-content: center;
}

.contactTitle{
  font-weight: bold;
  padding: 1vh;
  font-size: 3vw;
}

.contactLogo{
  width: 10vw;
}

.contactTable{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formTable{
  font-size: 2vw;
  display: flex;
  justify-content: center;
}

.formTable td{
  width: 20vw;
  font-size: 1vw;
}

.formInput{
  font-size: 1vw;
  padding: .5vw 0 0 .5vw;
}

.contact-form{
  width: 100%;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox{
  display: flex;
  flex-direction: row;
  padding: 0 1vw 0 1vw;
}

#portraitElement {
  display: none;
}

.submitButton{
  background-color: #263e51;
  color: white;
  border: 1px solid white;
  border-radius: 1vw;
  padding: 1vw;
}

.submitButton:hover{
  background-color: white;
  color: #263e51;
  border: 1px solid #263e51;
}

.myMenu{
  display: none;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(to bottom, #333d58, #131a34);
}

.summaryTitle{
  font-size: 3vw;
  font-weight: bold;
  width: 95%;
  margin: auto;
  user-select: none;
}
.summaryDetails{
  width: 95%;
  margin: auto;
  user-select: none;
}